html,body {
  height: 100%;
}

.container-fluid {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #0695A5;
  display:flex;
}

.row1 {
color: white;
}

.right-side {
  color: white;
  height: 100vh;
}

.middle {
  color: white;
  height: 100vh;
}

.left-side {
  height: 100vh;
}
